{% extends 'base.html' %} {% block content %}
<form method="POST">
    <section>
        
        <div class="row">
            <br>
            <h5 class="center">Create Your Recipe</h5>
            <br>
            <div class="input-field col s12 m4 13">
                <select name="diet" required id="diet">
                    <optgroup label="Diet">
                        <option value="none" data-icon="/static/img/browse.png" class="left">Browse</option>
                        <option value="none" data-icon="/static/img/unknown.png" class="left" selected>None</option>
                        <option value="low-carbohydrate" data-icon="/static/img/low-carb.png" class="left">Low Carbohydrate</option>
                        <option value="vegan" data-icon="/static/img/vegan.png" class="left">Vegan</option>
                        <option value="vegetarian" data-icon="/static/img/vegetarian.png" class="left">Vegetarian</option>
                    </optgroup>
                </select>
                <label>Select Diet</label>
            </div>

            <!-- Option Groups -->
            <div class="input-field col s12 m4 13">
                <select name="cuisine" required id="cuisine">
                    <optgroup label="Cuisine">
                        <option value="unknown" data-icon="/static/img/browse.png" class="left">Browse</option>
                        <option value="unknown" data-icon="/static/img/unknown.png" class="left" selected>Unknown</option>
                        <option value="asian" data-icon="/static/img/asia.png" class="left">Asian</option>
                        <option value="latin" data-icon="/static/img/latin.png" class="left">Latin</option>
                        <option value="usa" data-icon="/static/img/usa.png" class="left">USA</option>
                        <option value="european" data-icon="/static/img/Europe.png" class="left">European</option>
                        <option value="african" data-icon="/static/img/african.png" class="left">African</option>
                    </optgroup>
                    <optgroup label="Select All">
                        <option value="all" data-icon="/static/img/world.png" class="left">All</option>
                    </optgroup>
                </select>
                <label>Select Cuisine</label>
            </div>

            <!-- Multiple Select -->
            <div class="input-field col s12 m4 13">
                <select name="allergen" id="allergen" multiple>
                    <optgroup label="Allergen">
                        <option name="allergen" value="Not Mentioned" data-icon="/static/img/select-all.png" class="left">Select</option>
                        <option name="allergen" value="nuts" data-icon="/static/img/nuts.png" class="left">Nuts</option>
                        <option name="allergen" value="eggs" data-icon="/static/img/broken-egg.png" class="left">Eggs</option>
                        <option name="allergen" value="soy" data-icon="/static/img/soy.png" class="left">Soy</option>
                        <option name="allergen" value="dairy" data-icon="/static/img/cow.png" class="left">Dairy</option>
                        <option name="allergen" value="crustacean" data-icon="/static/img/Crustacean-2.png" class="left">Crustacean</option>
                        <option name="allergen" value="gluten" data-icon="/static/img/gluten.png" class="left">Gluten</option>
                        <option name="allergen" value="fish" data-icon="/static/img/fish-1.png" class="left">Fish</option>
                    </optgroup>
                </select>
                <label for="allergen">Exclude Allergens</label>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col s12">
                <div class="row">

                    <!-- Text Field -->
                    <div class="input-field col s6">
                        <input id="author_name" type="text" class="validate" name="author" required>
                        <label for="author_name">Add Author Name</label>
                    </div>
                    
                    <!-- Text Field -->
                    <div class="input-field col s6">
                        <input id="recipe_name" type="text" class="validate" name="recipe" required>
                        <label for="recipe_name">Add Recipe Name</label>
                    </div>
                </div>
            </div>

            <!-- Text Field -->
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="textarea1" type="text" name="image" value="http://docknyc.com/site/wp-content/uploads/2016/07/gony-logo-500x454.png" required>
                        <label for="textarea1">Add Image URL</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <br>

            <!-- Ingredient Todo Form 1 -->
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <h5 class="card-title center">Add Ingredients</h5>
						<a id="add-ingredient" class="btn varBtnTwo">
							<i class="material-icons">add</i>
						</a>
                        <div id="todo-form">
                            <div class="input-field">
                                <input id="todo" type="text" placeholder="Delete Example and Add Ingredients...">
                            </div>
                        </div>

                        <!-- Ingredient Todo Form 2 - Example & Delete -->
                        <ul class="collection todos">
                            <li class="collection-item">
                                <div>Baking Potatoes (720g) (Medium Sized)
                                    <a href="#!" class="secondary-content delete">
                                        <i class="material-icons">close</i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Method Todo Form 2 -->
            <div class="col s12 m6">
                <div class="card blac-3">
                    <div class="card-content">
                        <h5 class="card-title center">Add Methods</h5>
						<a id="add-method" class="btn varBtnTwo">
							<i class="material-icons">add</i>
						</a>
                        <div id="todo-form-2">
                            <div class="input-field">
                                <input id="todo-2" type="text" placeholder="Delete Example and Add Methods...">
                            </div>
                        </div>

                        <!-- Method Todo Form 2 - Example & Delete -->
                        <ul class="collection method">
                            <li class="collection-item">
                                <div>Set the oven to 200C / 180C fan oven / 400F / gas mark 6.
                                    <a href="#!" class="secondary-content delete">
                                        <i class="material-icons">close</i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Submit Buttons -->
            <div class="col s12">
                <div class="card-action">
                    
                    <button class="btn" id="submitButton">Publish</button>
                    <button class="btn varBtnOne" type="reset">Reset</button>
                </div>
            </div>
        </div>

    </section>

	
</form>
   
   
    
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const submitButton = document.getElementById('submitButton')

        submitButton.addEventListener('click', () => {
            const allergens_nodes = Array.from(document.getElementsByClassName('optgroup-option active') || [])
            const allergens = allergens_nodes.map(x => x.innerText)
            
            const diet_nodes = document.getElementsByClassName('select-dropdown')[1]
            const diet = diet_nodes.getElementsByClassName('selected active')

            const cuisine_node = document.getElementsByClassName('select-dropdown')[3]
            const cuisine = cuisine_node.getElementsByClassName('selected active')

            const ingredients_container = Array.from(document.getElementsByClassName('todos')[0].children)
            const ingredients = ingredients_container.map(x => x.innerText.replace('close',''))

            const method_container = Array.from(document.getElementsByClassName('method')[0].children)
            const method = method_container.map(x => x.innerText.replace('close',''))
            
            const author = document.getElementById('author_name').value
            const recipe = document.getElementById('recipe_name').value
            const image = document.getElementById('textarea1').value

            data = JSON.stringify({
                allergens,
                'diet': diet.length > 0 ? diet[0].lastChild.innerText : "",
                'cuisine': cuisine.length > 0 ? cuisine[0].lastChild.innerText : "",
                ingredients,
                method,
                author,
                recipe,
                image
            })
            
            fetch('/create', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: data
            })
        })
    })
</script>

{% endblock %}